.desktopDetailsMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.topNavContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.backAndBrandContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brandHeading {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  padding-right: 16px;
}

.detailsDataContainer {
  margin-top: 50px;
}
